body {
	font-family: 'Montserrat', sans-serif;
	background-color: #b85fc2;
	font-size: 16px;
	position: relative;
	min-width: 450px;
	display: flex;
	min-height: 100vh;
}

.App {
	display: flex;
	flex-grow: 1;
	min-height: 100%;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Black Ops One', cursive;
	text-align: center;
	padding: 10px 20px;
	font-size: 10rem;
	text-transform: uppercase;
	color: #6df239;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	text-shadow: 1px 1px #d10e31, 2px 2px #d10e31, 3px 3px #d10e31, 4px 4px #d10e31, 5px 5px #d10e31, 6px 6px #d10e31,
		7px 7px #d10e31, 8px 8px #890920, 9px 9px #890920, 10px 10px #890920, 11px 11px 15px rgba(0, 0, 0, 0.5);
}

h6 {
	font-family: 'Black Ops One', cursive;
	text-align: center;
	padding: 10px 20px;
	font-size: 1rem;
	color: #6df239;
	text-shadow: 1px 1px 1px #890920;
	-webkit-transform: skew(-5deg, -5deg) rotate(5deg);
	transform: skew(-5deg, -5deg) rotate(5deg);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

a {
	text-decoration: none;
	position: absolute;
	width: 100%;
	justify-content: flex-end;
	background-color: #5d0977;
}

@media only screen and (max-width: 320px) {
	h1 {
		font-size: 2.5rem;
	}
}

@media (min-width: 320px) and (max-width: 916px) {
	h1 {
		font-size: 3.5rem;
	}
}

@media (min-width: 916px) and (max-width: 1355px) {
	h1 {
		font-size: 5rem;
	}
}

@media (min-width: 1355px) and (max-width: 1816px) {
	h1 {
		font-size: 7.5rem;
	}
}
